// Place all the styles related to the admins::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.today_orders{
	text-align:center;
	font-size:30px;
	padding-top:70px;
}

.admin-head{
    text-align:center;
    background-color:#FFC;
    font-size:20px;
    margin-top:20px;
	
}
