<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>本当に退会しますか？</h1>
			<h2>退会すると、会員登録情報や<br>これまでの購入履歴が閲覧できなくなります.<br>退会する場合は「退会する」をクリックしてください。</h2>
			<%= link_to "退会しない", root_path, class: "btn-primary" %>
			<!-- 退会機能未実装 -->
			<%= link_to user_leave_path(@user), method: :put , class: "btn btn-danger" do %>
			<%= @user.user_status %>
			<%end%>
		</div>
	</div>
</div>