<h3>会員一覧</h3>

	<table class="table">
		<thead>
			<tr>
				<th>会員id</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %>	</td>
				<td><<%= link_to(admins_user_path(user)) do %>
					<%=@user.name %>
	                <% end %>
			    </td>
				<td><%= user.user_status %>
		    </tr>
			<% end %>
		</tbody>
	</table>