<%= render 'layouts/header2' %>
<div class="container">
  <h1>注文を受け付けました。</h1>

  <%= link_to "注文内容を確認する >>", orders_path %>
</div>

<!-- <h1>配達までお待ちください。</h1>
<div class="row completation" style="text-align: center;">
  <i class="fas fa-truck truck"></i>
</div> -->