// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.skipper {
height: 100vh;
width: 100%;
margin: 0px auto;
z-index:3;
}
.pickup{
margin: 10px auto;
}

.image1 {
background-image: url(top1.jpg);
}
.image2 {
background-image: url(top2.jpg);
}
.image3 {
background-image: url(top3.jpg);
}
.image4 {
background-image: url(top4.jpg);
}
.image5 {
background-image: url(top5.jpg);
}
