// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.skipper {
height: 340px;
width: 90%;
margin: 10px auto;
}
.pickup{
margin: 10px auto;
}

.image1 {
background-image: url(image1.png);
}
.image2 {
background-image: url(image2.png);
}
.image3 {
background-image: url(image3.png);
}
.image4 {
background-image: url(image4.png);
}
.image5 {
background-image: url(image5.png);
}
