<h1>商品一覧</h1>

<%= link_to "newページ", new_admins_product_path %> 

<table class="table">
	<thead>
		<tr>
		  <th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
    </tr>
   </thead>
  

<% @products.each do |product| %>
    <tbody>
   
    <tr>
    	<td><%= product.id %></td>
    	<td><%= product.product_name %></td>
    	<td><%= product.product_price %></td>

    </tr>
 
   </tbody>
 <% end %>
</table>
