<h1>商品一覧</h1>

<div class="text-right">
	<%= link_to "＋", new_admins_product_path, class:"btn btn-outline-dark rounded-circle width:100px;height:100px;" %> 
</div>

<table class="table">
	<thead>
		<tr>
		  <th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
    </tr>
  </thead>
  

  <% @products.each do |product| %>
    <tbody>
   
      <tr>
    	  <td><%= product.id %></td>
    	  <td><%= link_to product.product_name, admins_product_path(product) %></td>
    	  <td><%= product.product_price %></td>

      </tr>
 
    </tbody>
  <% end %>
</table>
