<table class="table table-hover">
	<thead>
		<tr>
		  <th><h3>ジャンル検索</h3></th>
	  </tr>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to "ケーキ", products_path(category: "1") %></td>
		</tr>
		<tr>
			<td><%= link_to "焼き菓子", products_path(category: "2") %></td>
		</tr>
		<tr>
			<td><%= link_to "プリン", products_path(category: "3") %></td>
		</tr>
		<tr>
			<td><%= link_to "キャンディ", products_path(category: "4") %></td>
		</tr>
	</tbody>
</table>