<footer>
  	<div class ="row">
  		<div class="col-sm-4">
		    <div class="copy_right">
		       <p class="text-muted">©Nagano Cake INK </p>
		    </div>
      </div>
      
      <div class="cl-sm-8">
  			<div class="sns">
  				<nav>
				  	<li><a class="" href="https://www.facebook.com" ><span>Facebook<i class="fab fa-facebook-square"></i></span></a></li>
				  	<li><a class="" href="https://www.twitter.com" ><span>Twitter<i class="fab fa-twitter-square"></i></span></a></li>
				  	<li><a class="" href="https://www.instagram.com" ><span>Instagram<i class="fab fa-instagram-square"></i></span></a></li>
	    		</nav>
    		</div>
			</div>
		</div>
</footer>

